In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("D:\Ineuron\Python_Practice\data fsds -20221121T111407Z-001\data fsds\Attribute DataSet.xlsx")

In [3]:
df

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [4]:
type(df)

pandas.core.frame.DataFrame

To read other sheet from the same excel file using 'sheet_name'

In [5]:
pd.read_excel("D:\Ineuron\Python_Practice\data fsds -20221121T111407Z-001\data fsds\Attribute DataSet.xlsx", sheet_name="test")

ValueError: Worksheet named 'test' not found

In [6]:
df.head(2)

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0

In [7]:
df.tail()

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [8]:
pd.read_csv("D:\Ineuron\Python_Practice\data fsds -20221121T111407Z-001\data fsds\haberman.csv", header= None,names=['Age',"Patient's year of operation",'No.of positive', 'Survival status'])

     Age  Patient's year of operation  No.of positive  Survival status
0     30                           64               1                1
1     30                           62               3                1
2     30                           65               0                1
3     31                           59               2                1
4     31                           65               4                1
..   ...                          ...             ...              ...
301   75                           62               1                1
302   76                           67               0                1
303   77                           65               3                1
304   78                           65               1                2
305   83                           58               2                2

[306 rows x 4 columns]

### If the value are seprated with different character such as '@' the we can use 'sep=' parameter,

In [9]:
pd.read_csv("D:\Ineuron\Python_Practice\data fsds -20221121T111407Z-001\data fsds\haberman1.csv", sep = '@',names=['Age',"Patient's year of operation",'No.of positive', 'Survival status'])

     Age  Patient's year of operation  No.of positive  Survival status
0     30                           64               1                1
1     30                           62               3                1
2     30                           65               0                1
3     31                           59               2                1
4     31                           65               4                1
..   ...                          ...             ...              ...
301   75                           62               1                1
302   76                           67               0                1
303   77                           65               3                1
304   78                           65               1                2
305   83                           58               2                2

[306 rows x 4 columns]

### To get the raw record from the github

In [10]:
pd.read_csv('https://raw.githubusercontent.com/selva86/datasets/master/Smarket.csv')

      Year   Lag1   Lag2   Lag3   Lag4   Lag5   Volume  Today Direction
0     2001  0.381 -0.192 -2.624 -1.055  5.010  1.19130  0.959        Up
1     2001  0.959  0.381 -0.192 -2.624 -1.055  1.29650  1.032        Up
2     2001  1.032  0.959  0.381 -0.192 -2.624  1.41120 -0.623      Down
3     2001 -0.623  1.032  0.959  0.381 -0.192  1.27600  0.614        Up
4     2001  0.614 -0.623  1.032  0.959  0.381  1.20570  0.213        Up
...    ...    ...    ...    ...    ...    ...      ...    ...       ...
1245  2005  0.422  0.252 -0.024 -0.584 -0.285  1.88850  0.043        Up
1246  2005  0.043  0.422  0.252 -0.024 -0.584  1.28581 -0.955      Down
1247  2005 -0.955  0.043  0.422  0.252 -0.024  1.54047  0.130        Up
1248  2005  0.130 -0.955  0.043  0.422  0.252  1.42236 -0.298      Down
1249  2005 -0.298  0.130 -0.955  0.043  0.422  1.38254 -0.489      Down

[1250 rows x 9 columns]

In [11]:
a = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2015_totals.html')

In [12]:
type(a)

list

In [13]:
len(a)

1

In [14]:
a[0]

,Rk,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,1,Quincy Acy,PF,24,NYK,68,22,1287,152,331,...,.784,79,222,301,68,27,22,60,147,398
1,2,Jordan Adams,SG,20,MEM,30,0,248,35,86,...,.609,9,19,28,16,16,7,14,24,94
2,3,Steven Adams,C,21,OKC,70,67,1771,217,399,...,.502,199,324,523,66,38,86,99,222,537
3,4,Jeff Adrien,PF,28,MIN,17,0,215,19,44,...,.579,23,54,77,15,4,9,9,30,60
4,5,Arron Afflalo,SG,29,TOT,78,72,2502,375,884,...,.843,27,220,247,129,41,7,116,167,1035
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
670,490,Thaddeus Young,PF,26,TOT,76,68,2434,451,968,...,.655,127,284,411,173,124,25,117,171,1071
671,490,Thaddeus Young,PF,26,MIN,48,48,1605,289,641,...,.682,75,170,245,135,86,17,75,115,685
672,490,Thaddeus Young,PF,26,BRK,28,20,829,162,327,...,.606,52,114,166,38,38,8,42,56,386
673,491,Cody Zeller,C,22,CHO,62,45,1487,172,373,...,.774,97,265,362,100,34,49,62,156,472
674,492,Tyler Zeller,C,25,BOS,82,59,1731,340,619,...,.823,146,319,465,113,18,52,76,205,833

### reading json file

In [15]:
js = pd.read_json('https://api.github.com/repos/pandas-dev/pandas/issues')

In [16]:
js.columns

Index(['url', 'repository_url', 'labels_url', 'comments_url', 'events_url',
       'html_url', 'id', 'node_id', 'number', 'title', 'user', 'labels',
       'state', 'locked', 'assignee', 'assignees', 'milestone', 'comments',
       'created_at', 'updated_at', 'closed_at', 'author_association',
       'active_lock_reason', 'draft', 'pull_request', 'body', 'reactions',
       'timeline_url', 'performed_via_github_app', 'state_reason'],
      dtype='object')

In [17]:
js['user'][0]

{'login': 'Hanspagh',
 'id': 1024416,
 'node_id': 'MDQ6VXNlcjEwMjQ0MTY=',
 'avatar_url': 'https://avatars.githubusercontent.com/u/1024416?v=4',
 'gravatar_id': '',
 'url': 'https://api.github.com/users/Hanspagh',
 'html_url': 'https://github.com/Hanspagh',
 'followers_url': 'https://api.github.com/users/Hanspagh/followers',
 'following_url': 'https://api.github.com/users/Hanspagh/following{/other_user}',
 'gists_url': 'https://api.github.com/users/Hanspagh/gists{/gist_id}',
 'starred_url': 'https://api.github.com/users/Hanspagh/starred{/owner}{/repo}',
 'subscriptions_url': 'https://api.github.com/users/Hanspagh/subscriptions',
 'organizations_url': 'https://api.github.com/users/Hanspagh/orgs',
 'repos_url': 'https://api.github.com/users/Hanspagh/repos',
 'events_url': 'https://api.github.com/users/Hanspagh/events{/privacy}',
 'received_events_url': 'https://api.github.com/users/Hanspagh/received_events',
 'type': 'User',
 'site_admin': False}

In [18]:
df = pd.read_excel("D:\Ineuron\Python_Practice\data fsds -20221121T111407Z-001\data fsds\Attribute DataSet.xlsx")

In [19]:
df

,Dress_ID,Style,Price,Rating,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,NaN,chiffon,ruffles,animal,1
1,1212192089,Casual,Low,0.0,L,Summer,o-neck,Petal,natural,microfiber,NaN,ruffles,animal,0
2,1190380701,vintage,High,0.0,L,Automn,o-neck,full,natural,polyster,NaN,NaN,print,0
3,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print,1
4,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,NaN,NaN,solid,1
496,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,NaN,NaN,NaN,0
497,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,NaN,lace,solid,1
498,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print,1
499,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid,0

In [20]:
df.to_json('test.json')

In [21]:
pwd

'D:\\Ineuron\\Python_Practice'

In [22]:
df.to_csv("D:\\Ineuron\\Python_Practice\\test_data.csv")

To change the spacing delimeter with any thing we can use 'sep = '

In [24]:
df.to_csv("D:\\Ineuron\\Python_Practice\\test_data1.csv", sep='#')

To remove the index from the dataset we can put intex as False.

In [27]:
df.to_csv("D:\\Ineuron\\Python_Practice\\test_data2.csv", index = False)